/*
 * Vorboss Product Availability API
 * This API is provided by Vorboss to allow customers to check which products are available at a given postcode.
 *
 * OpenAPI spec version: 0.2.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package Com.Vorboss.ProductAvailability;

import Com.Vorboss.ApiCallback;
import Com.Vorboss.ApiClient;
import Com.Vorboss.ApiException;
import Com.Vorboss.ApiResponse;
import Com.Vorboss.Configuration;
import Com.Vorboss.Pair;
import Com.Vorboss.ProgressRequestBody;
import Com.Vorboss.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import Com.Vorboss.ProductAvailability.Postcode;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProductAvailabilityApi {
    private ApiClient apiClient;

    public ProductAvailabilityApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProductAvailabilityApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for confirmPostcode
     * @param postcode UK Postcode to check availability for. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call confirmPostcodeCall(String postcode, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/product-availability/postcode/{postcode}"
            .replaceAll("\\{" + "postcode" + "\\}", apiClient.escapeString(postcode.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call confirmPostcodeValidateBeforeCall(String postcode, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'postcode' is set
        if (postcode == null) {
            throw new ApiException("Missing the required parameter 'postcode' when calling confirmPostcode(Async)");
        }
        
        com.squareup.okhttp.Call call = confirmPostcodeCall(postcode, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Check a postcode
     * Check which products are available at the given postcode.
     * @param postcode UK Postcode to check availability for. (required)
     * @return Postcode
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Postcode confirmPostcode(String postcode) throws ApiException {
        ApiResponse<Postcode> resp = confirmPostcodeWithHttpInfo(postcode);
        return resp.getData();
    }

    /**
     * Check a postcode
     * Check which products are available at the given postcode.
     * @param postcode UK Postcode to check availability for. (required)
     * @return ApiResponse&lt;Postcode&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Postcode> confirmPostcodeWithHttpInfo(String postcode) throws ApiException {
        com.squareup.okhttp.Call call = confirmPostcodeValidateBeforeCall(postcode, null, null);
        Type localVarReturnType = new TypeToken<Postcode>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Check a postcode (asynchronously)
     * Check which products are available at the given postcode.
     * @param postcode UK Postcode to check availability for. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call confirmPostcodeAsync(String postcode, final ApiCallback<Postcode> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = confirmPostcodeValidateBeforeCall(postcode, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Postcode>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
